<script src="//connect.soundcloud.com/sdk.js"></script>

<script src="soundmanager2.js"></script>


<script>
$(document).ready(function() {

 function getNextTrack() {
   console.log('get next track');
      $nextItem = $('.sc-trackslist li.active').next('li');
  if(!$nextItem.length){
    $nextItem = $('.sc-trackslist li:first');
  }
  return $nextItem;
};

 function getPreviousTrack() {
   console.log('get next track');
      $nextItem = $('.sc-trackslist li.active').prev('li');
  if(!$nextItem.length){
    $nextItem = $('.sc-trackslist li:last');
  }
  return $nextItem;
};

 $('.sc-next').click(function() {
    console.log('fired');
    var currentNext = getNextTrack();
    $(currentNext).trigger('click');
  });

 $('.sc-prev').click(function() {
    console.log('fired');
    var currentNext = getNextTrack();
    $(currentNext).trigger('click');
  });


});


</script>


<% client = Soundcloud.new(:client_id => 'd276b5f3aa390cae2ebfbc0c52f1f58d') %>
<%= image_tag 'backward.png', :id => 'backward' %>
<%= image_tag 'play.png',:id => 'play' %>
<%= image_tag 'forward.png',:id => 'forward' %>
<h1> hi <%= @me.username %> </h1>
<a href="#" class="sc-next" style="z-index:9999">BACK</a>
<a href="#" class="sc-next" style="z-index:9999">FORWARD</a>
 

<div class="sc-player">
  <a href="https://soundcloud.com/yanikjay/i-believe">Lykke Li remix</a>
  <a href="https://soundcloud.com/todd-jones/fell-apart-on-demo-1">Fell Apart</a>
 </div>






