#purple_backward  {
	background: url('/assets/sc-player-yanik-style/purple_backward.png') ;
	display: block;
	height:92px;
	width: 180px;
	float: left;
	background-position: 0 -92px;
   }

#purple_backward:hover  {
	background: url('/assets/sc-player-yanik-style/purple_backward.png') ;
	display: block;
	height:92px;
	width: 180px;
	float: left;
   }

#purple_play  {
background: url('/assets/sc-player-yanik-style/purple_playa.png') ;
display: block;
height: 90px;
width: 110px;
float: left;
background-position: 0 -92px;
 }

 #purple_play:hover  {
background: url('/assets/sc-player-yanik-style/purple_playa.png') ;
display: block;
height: 90px;
width: 110px;
float: left;
 }


#purple_stop  {
background: url('/assets/sc-player-yanik-style/purple_stop.png') ;
display: block;
height: 90px;
width: 140px;
float: left;
background-position: 0 -92px;
 }

#purple_stop:hover  {
background: url('/assets/sc-player-yanik-style/purple_stop.png') ;
display: block;
height: 90px;
width: 140px;
float: left;
 }

 #purple_forward  {
background: url('/assets/sc-player-yanik-style/purple_forward.png') ;
display: block;
height: 90px;
width: 190px;
float: left;
background-position: 0 -92px;
 }

  #purple_forward:hover  {
background: url('/assets/sc-player-yanik-style/purple_forward.png') ;
display: block;
height: 90px;
width: 190px;
float: left;
 }

 #purple_pause  {
background: url('/assets/sc-player-yanik-style/purple_pause.png') ;
display: block;
height: 90px;
width: 90px;
float: left;
background-position: 0 -92px;
 }

#purple_pause:hover  {
background: url('/assets/sc-player-yanik-style/purple_pause.png') ;
display: block;
height: 90px;
width: 90px;
float: left;
 }


